<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Buurtcampus webpagina</title>
</head>

<body>
    <header>
        <nav>
            <a herf="/"><img class="logo" src="/assets/PlantSwap-logo-green (1).svg" aria-label="logo buurtcampus"></a>
            <div class="menu-toggle" aria-label="navigeer door de menu balk">
                <svg stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <line x1="4" x2="20" y1="12" y2="12"></line>
                    <line x1="4" x2="20" y1="6" y2="6"></line>
                    <line x1="4" x2="20" y1="18" y2="18"></line>
                </svg>
            </div>
            <ul class="nav-links">
                <li><a href="/stek" aria-label="stekjesbieb">Stekjesbieb</a></li>
                <li><a href="#info" aria-label="hoe werkt het">Hoe werkt het?</a></li>
                <li><a href="/" aria-label="Verzorging">Verzorging</a></li>
                <li><a href="/aanmelden" aria-label="Upload stekje">Doneer stekje</a></li>
            </ul>
        </nav>
    </header>