:root {
  --bg-clr: #f7fbf6;
  --text-title-clr: #56704a;
  --text-paragraph-clr: #56704a;
  --filter-bg-clr: #f26f20;
  --filter-text-clr: #fff;
  --link-btn-clr: #56704a;
  --link-nav-clr: #56704a;
  --radius-btn: 0.5em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Arial", sans-serif;

  background-color: var(--bg-clr);
}

/* HEADINGS */

h1,
h2 {
  text-align: center;
  line-height: 1.4;
  color: var(--text-title-clr);
  font-weight: 600;
}

h1 {
  font-size: 32px;
}

h2 {
  padding: 1em;
  font-size: 20px;
}

p {
  line-height: 1.4;
  font-weight: 600;
}

h3 {
  font-size: 1.3rem;
  color: var(--text-title-clr);
}

/* NAVIGATION */

header {
  width: 100%;
  height: auto;
  top: 0;
  position: fixed;
  background-color: var(--bg-clr);
}

nav {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 50px;
  overflow: hidden;
}

.logo {
  height: 50px;
  width: auto;
  margin-left: 20px;
}

nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-self: end;
}

nav li {
  padding: 0 1em 0 1em;
}

ul a {
  font-size: 0.9em;
  font-weight: 600;
  transition: color 0.3s ease-out;
}

a {
  color: var(--link-nav-clr);
}

ul a:hover {
  color: #f26f20;
}

/* MOBILE MENU & ANIMATION */

.menu-toggle {
  width: 25px;
  display: none;
  transition: all 0.3s ease-in-out;
  justify-self: end;
  margin-right: 25px;
}

.menu-toggle svg {
  stroke: var(--link-nav-clr);
}

.menu-toggle:hover {
  cursor: pointer;
}

/* MAIN SECTIONS */

.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 500px;
  width: 100%;
  color: #56704a;
  background: url(./assets/background-img\ headline.svg) no-repeat;
  background-position: bottom right;
  background-size: 250px 250px;
}

.headline-content {
  width: 40em;
  padding: 0.5rem;
}

.headline-content p {
  padding: 1em;
}

.headline-buttons {
  width: 100%;
  display: flex;
  place-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.5em;
}

.headline-buttons a {
  color: #fff;
  background-color: var(--link-nav-clr);
  padding: 1em 1em;
  font-weight: 400;
  border-radius: var(--radius-btn);
}

/* BACKGROUND PLANT  */

/* BAR SECTION  */
.bar {
  width: 100%;
  padding: 1em 2.5em 1em 2.5em;
}

.bar-content {
  display: flex;
  gap: 1em;
}

.filter-btn button {
  width: 10em;
  padding: 0.7rem 0 0.7rem 0;
  font-size: 20px;
  background-color: var(--filter-bg-clr);
  color: var(--filter-text-clr);
  border: none;
  border-radius: var(--radius-btn);
}

.bar svg {
  width: 25px;
  aspect-ratio: 1/1;
  fill: #fff;
}

.filter-btn span {
  margin-left: 0.5em;
}

.drop-list {
  display: none;
}

.drop-list.show {
  display: block;
}

/* Searh BAR */

.bar-search-form {
  width: 100%;
}

.bar-search-form form {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--filter-bg-clr);
  border-radius: var(--radius-btn);
  padding: 0.3em;
}

input[type="search"]::placeholder {
  color: #fff;
  opacity: 1;
}

input[type="search"] {
  width: 100%;
  height: 2.8rem;
  outline: none;
  border: none;
  font-size: 1rem;
  background-color: var(--filter-bg-clr);
  padding-left: 1em;
}

input[type="search"]:hover {
  cursor: pointer;
}

/* HOMEPAGE PLANT SECTION  */
section {
  margin-top: 1.5em;
}

.plant-container {
  margin: 0 1.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5em;
  --width-card: 20em;
}

.plant-card {
  position: relative;
  width: var(--width-card);
  aspect-ratio: 1/1.2;
  transition: all 0.25s ease;
  overflow: hidden;
  border-radius: 1em;
  margin-bottom: 2em;
}

.plant-card:hover {
  transform: scale(0.9);
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3); /* Safari 6, iOS 6 and Android 2.3 default browser don't work with a 0px value for "blur-radius".*/
}

.plant-card-content {
  width: 100%;
  position: absolute;
  padding: 1em;
  bottom: 0;
  color: #56704a;
  background-color: #d5dbd2;
  display: flex;
  place-items: center;
  flex-direction: column;
  opacity: 0.9;
}

/* Mobile Devices - Phones/Tablets */
@media only screen and (max-width: 720px) {
  /* MOBILE NAV */
  .menu-toggle {
    display: block;
  }

  .nav-links.show {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50px;
    background-color: var(--bg-clr);
    width: 100%;
    text-align: center;
    overflow: hidden;
  }

  nav li {
    padding: 15px;
  }
}

/* INFO SECTION  */

.info-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  place-items: center;
}

.info-list {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  margin: 0 1em 0 1em;
}

.info-list p {
  color: var(--text-paragraph-clr);
  font-size: 20px;
  margin-top: 1.5em;
}

/* FOOTER  */

footer {
  margin-top: 2em;
  width: 100%;
  background-color: #d5dbd2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

footer section {
  width: 100%;
  padding: 1em 2em;
}

.section-social-icons a {
  margin-right: 2em;
}

.footer svg {
  width: 16px;
  height: 16px;
  fill: #56704a;
}

.section-links li {
  list-style: none;
  padding: 0.5em 0 0.5em 0;
}

input[type="email"] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}
